.navbar {
  background-color: rgb(22, 22, 137);
  margin-top: 0px;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.links {
  color: #fff;
  text-decoration: none;
}
