body,
mark {
  color: brown;
}

.headings {
  color: orangered;
  font-style: italic;
}

.css-usages li {
  font-family: "Roboto Mono", monospace;
}

p {
  color: #b27911;
  font-weight: bold;
}

a {
  color: orange;
  text-decoration: none;
}
