body {
  background: yellow;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0 0 10px rgb(109, 107, 107);
}
.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.boxes ol {
  text-align: center;
  font-weight: 700;
}

.box {
  background-color: yellowgreen;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1em;
}

.box1 {
  transition: width 2s;
}

.box1:hover {
  width: 30rem;
}

.box2 {
  transition: width 2s, height 4s;
}

.box2:hover {
  width: 30rem;
  height: 30rem;
}

.box3 {
  transition: width 2s;
  transition-timing-function: linear;
}

.box3:hover {
  width: 30rem;
}

.box4 {
  transition: width 2s;
  transition-timing-function: ease;
}

.box4:hover {
  width: 30rem;
}

.box5 {
  transition: width 2s;
  transition-timing-function: ease-in;
}

.box5:hover {
  width: 30rem;
}

.box6 {
  transition: width 2s;
  transition-timing-function: ease-out;
}

.box6:hover {
  width: 30rem;
}

.box7 {
  transition: width 2s;
  transition-timing-function: ease-in-out;
}

.box7:hover {
  width: 30rem;
}

a {
  color: blue;
  font-size: 2em;
  font-weight: 700;
}

a:visited {
  color: blueviolet;
}
